# Android & Gradle ignore patterns
# Built directories
/build
/app/build
/captures
/.cxx
/.externalNativeBuild

# Gradle files
.gradle
/local.properties

# IDE & project files
*.iml
.idea/
.DS_Store

# Miscellaneous
*.log
*.apk
*.ap_
*.aab
